<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lingzhi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F60E9B71FC2754300C5E113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F60E9CF1FC2754300C5E113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F60E9DA1FC2754300C5E113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
